<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Covid Detector</title>
</head>
<style>
    body {
        background: black;
        color: aliceblue;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<body>
    <form class="content text-center mb-3" enctype="multipart/form-data" action="/" method="post">
    {% csrf_token %}
        <div style="padding-bottom: 0.75em;">
            <label for="formFile" class="form-label">Please Upload File</label>
            <input class="form-control" type="file" id="imgfile" name="imgfile">
        </div>
        <input type="submit">
    </form>
</body>
</html>